.body{
  background-color: rgb(0, 0, 0);
  background-size: auto;
  color: black;
  height: 20vh;
  width: 20vw;
}

.connectbutton{
  background: #00000010;
  box-shadow: 0px 1px 10px #17b2ff;
  color: #ffffff;
  border-radius: 14px;
  padding: 5px 12px;
  font-size: large;
  font-weight: 200;
}

.bold{
  font-family: "SF Pro Display";
  font-weight: bold;
}

.navbarfont {
  font-family: "SF Pro Display";
  font-weight: 300;
}

.minerapp{
  text-align: center;
  background: linear-gradient(270deg, #5f6bcc, #222d8a, #000000);
  background-size: 600%;

  -webkit-animation: AnimationName 0s ease infinite;
  -moz-animation: AnimationName 0s ease infinite;
  animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}


.minerform {
  background: radial-gradient(circle at 50% 50%, #090f11, #0c1519, #101e2b, #0f223c, #0e2144);
  font-family: "SF Pro Display";
  font-weight: 300;
  color: white;
  box-shadow: 0 0 1px 1px #17b2ff;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  -webkit-border: 20px !important;
  -moz-border: 20px !important;
  border: 20px !important;
}
